// palette
$brown: #50403b;

$primary-1: #df5b2b;
$primary-2: #e04b26;
$primary-3: #c93e1b;

$blue-light: #3a7992;
$blue-dark: #0e1c1d;

$white: #e4fcf8;
$grey: #a1a9a7;
$grey-dark: #0a1516;
$black: #050706;

// sizing
$navigation-width: 9.8rem;
$navigation-height: 30rem;
$border-radius: .32rem;

// effects
$svg-transition: fill .2s ease;
$shadow: 0 2rem 5rem rgba($black, .4);

