@import '../../assets/sass/imports';

.checkout {
  color: $white;
  font-size: 1.5rem;
  grid-column: 1 / 3;

  &__payment-img {
      height: 3.5rem;
      max-width: 19.4rem;
      display: block;
      align-self: center;
  }

  &__total {
      margin-top: 1rem;
      align-self: center;
  }

  &__form {
      color: $black;
      border-radius: $border-radius;
      background: whitesmoke;
      padding: 3rem 6rem;
      width: 80%;
      max-width: 65rem;
      margin: auto;
      min-width: 30rem;
      display: grid;
      grid-template-columns: 9.5rem 1fr;
      grid-row-gap: 2rem;

      label {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
      }

      input {
          border: 1px solid $grey-dark;
      }

      fieldset {
          grid-column: 1 / 3;
          text-align: center;

          small {
              color: $grey-dark;
              font-size: 0.9rem;
          }

          @include adapt(phone) {
              grid-column: unset;
              height: 9rem;
          }
      }

      @include adapt(phone) {
          margin-top: 10rem;
          padding: 0;
          width: 100%;
          display: flex;
          min-width: unset;
          flex-direction: column;
      }
  }
}