@import '../../assets/sass/imports';

#backdrop {
  top: 0;
  right: $navigation-width;
  width: 100vw;
  height: 100%;
  background: rgba($black, .2);
  position: absolute;
  z-index: 10;
  cursor: default;

  @include hide;

  @include adapt(tablet) {
      right: 0;
      top: $navigation-height;
      height: 100vh;
  }
}