.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0;

  position: relative;
  z-index: 100;

  @include adapt(tablet) {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 2rem 4rem;
    position: fixed;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    transition: $svg-transition;
    margin-bottom: 1.5rem;

    @include adapt(tablet) {
      margin-bottom: 0;
      margin-left: 1.5rem;
    }
  }

  &__card,
  &__anchor,
  &__cart {
    position: fixed;

    @include adapt(tablet){
      position: unset;
    }
  }

  $anchortop: 2rem;
  &__anchor {
    top: $anchortop;
  }

  &__cart {
    top: $anchortop + 5rem;
  }

  &__card {
    top: $anchortop + 10rem;
  }
  
  &__icon:hover {
    fill: $white;
  }

  &__nav {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    right: 0;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    background: inherit;
    color: black;

    overflow-y: auto;

    box-shadow: $shadow;

    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    animation: slideFromRight .6s cubic-bezier(.07,.68,1,.58) forwards;

    @include hide;

    @include adapt(tablet) {
      width: 100%;
      height: 45rem !important;
      justify-content: space-evenly;
      animation: slideFromTop .6s cubic-bezier(.07,.68,1,.58) forwards;
    }
  }
  
  &__nav:target {

    // display #backdrop
    & ~ #backdrop {
      @include unhide;
    }
    
    @include unhide;
    
    z-index: 1000;
    padding: 2rem 3rem;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    top: 0;

    @include adapt(tablet) {
      transform: translateY(-300px);
      width: 100%;
    }
  }

  &__link {

    text-transform: capitalize;
    transition: color .15s ease-in;

    &:not(:last-of-type) {
      margin-bottom: 6rem;
    }

    &:hover {
      color: $white;

      &:not(:first-of-type) {
        &::after {
          content: '↞';
          color: $primary-1;
          margin-left: 1rem;
        }
      }
    }

    &--close {

      position: absolute;
      top: 1.2rem;

      &:hover {
        color: $primary-2;
      }
    }
  }

}

// cart popup (visual indicator of items being added to cart)

.cart-popup {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  color: $white;
  border-radius: 100%;
  top: -1.5rem;
  right: -2rem;
  font-size: 1.1rem;
  font-weight: 500;

  background: $primary-2;

  display: flex;
  align-items: center;
  justify-content: center;

  
  opacity: 0;
  
  &.enabled {
    opacity: 1;
    animation: pulseCircle 1.50s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  }

  @include adapt(tablet) {
    top: .4rem;
    right: 10rem;
  }
}