.content-store {
    color: $white;

    &__cell {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 50rem);
        padding-top: 5rem;

        @include adapt(tablet) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(12, 50rem);
        }
        @include adapt(phone) {
            grid-template-rows: repeat(12, 70rem);
        }


    }
}
